version: "3.9"

services:
  gdc-ian-safe-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: gdc-ian-safe-api:latest
    container_name: gdc-ian-safe-api
    ports:
        - "127.0.0.1:80:80" #local allow
        - "10.66.66.1:80:80" #wireguard allow
        - "[::1]:80:80" #ipv6 local allow
        - "[fd42:42:42::1]:80:80" #ipv6 wireguard allow
    env_file:
      - data.env
    restart: unless-stopped

    # Voor dev: uncomment volumes zodat lokale code direct gebruikt wordt:
    # volumes:
    #   - ./app:/code/app